<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ecorunners.ecorunners">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".EcoRunners"
        android:allowBackup="true"
        android:icon="@mipmap/ecorunnerslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ecorunnerslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".ListCalendar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NextWeekActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListCalendar" />
        </activity>
        <activity android:name=".AddDeliveriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListCalendar" />
        </activity>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".GuidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CouriersContactDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuidesActivity" />
        </activity>
        <activity android:name=".CouriersRatesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuidesActivity" />
        </activity>
        <activity android:name=".ShopsGuidesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuidesActivity" />
        </activity>
        <activity android:name=".SpareBicycleRecordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuidesActivity" />
        </activity>

    </application>

</manifest>